NodeRed/flows.json
[{"id":"08ac5a7d2d4e998a","type":"tab","label":"Flow 6","disabled":false,"info":"","env":[]},{"id":"8f10ff1b85eabf83","type":"mqtt in","z":"08ac5a7d2d4e998a","name":"","topic":"codigoIoT/mqtt/clima","qos":"0","datatype":"utf8","broker":"1cf4394e3811019a","nl":false,"rap":true,"rh":0,"inputs":0,"x":170,"y":120,"wires":[["b483ff014bd579fd"]]},{"id":"b483ff014bd579fd","type":"json","z":"08ac5a7d2d4e998a","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":120,"wires":[["86591e35be3d094b","96c6e9d6e13963dc"]]},{"id":"86591e35be3d094b","type":"function","z":"08ac5a7d2d4e998a","name":"Temperatura","func":"msg.payload = msg.payload.temp;\nmsg.topic = \"Temperatura\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":120,"wires":[["9981f20b472fb9b6","1a7e4bd22cb73357"]]},{"id":"96c6e9d6e13963dc","type":"function","z":"08ac5a7d2d4e998a","name":"Humedad","func":"msg.payload = msg.payload.hum;\nmsg.topic = \"Humedad\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":240,"wires":[["6774412011aa101d","1a7e4bd22cb73357"]]},{"id":"9981f20b472fb9b6","type":"ui_gauge","z":"08ac5a7d2d4e998a","name":"","group":"abf8717f2990c6ea","order":1,"width":3,"height":4,"gtype":"gage","title":"Indicadores","label":"ºC","format":"{{value}}","min":"8","max":"45","colors":["#62a0ea","#26a269","#ca3838"],"seg1":"18","seg2":"24","diff":false,"className":"","x":950,"y":120,"wires":[]},{"id":"6774412011aa101d","type":"ui_gauge","z":"08ac5a7d2d4e998a","name":"","group":"abf8717f2990c6ea","order":2,"width":3,"height":4,"gtype":"wave","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#5e5c64","#26a269","#e01b24"],"seg1":"30","seg2":"50","diff":false,"className":"","x":940,"y":240,"wires":[]},{"id":"1a7e4bd22cb73357","type":"ui_chart","z":"08ac5a7d2d4e998a","name":"","group":"abf8717f2990c6ea","order":3,"width":10,"height":4,"label":"Historico","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#c01c28","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":940,"y":180,"wires":[[]]},{"id":"042ad43721c4bd70","type":"http request","z":"08ac5a7d2d4e998a","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.openweathermap.org/data/2.5/weather?lat=18.817856&lon=-98.951525&appid=3cb868af1b7466d5689ad0ef7db0a92c&units=metric","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":430,"y":340,"wires":[["92dd5269b3419eb4"]]},{"id":"69e3403ea1934cb5","type":"inject","z":"08ac5a7d2d4e998a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":340,"wires":[["042ad43721c4bd70"]]},{"id":"92dd5269b3419eb4","type":"json","z":"08ac5a7d2d4e998a","name":"","property":"payload","action":"obj","pretty":false,"x":650,"y":340,"wires":[["1f6948d79596bffd","d0711c52a8f0578b"]]},{"id":"1f6948d79596bffd","type":"function","z":"08ac5a7d2d4e998a","name":"Temperatura API","func":"global.set (\"tempAPI\", msg.payload.main.temp);\nmsg.payload = msg.payload.main.temp;\nmsg.topic = \"Temperatura\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":340,"wires":[[]]},{"id":"d0711c52a8f0578b","type":"function","z":"08ac5a7d2d4e998a","name":"Humedad API","func":"msg.payload = msg.payload.main.humidity;\nglobal.set (\"humAPI\", msg.payload);\nmsg.topic = \"Humedad\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":400,"wires":[[]]},{"id":"1bdc8a97cacf45a3","type":"comment","z":"08ac5a7d2d4e998a","name":"API","info":"","x":130,"y":300,"wires":[]},{"id":"e3575e9ac451e56b","type":"comment","z":"08ac5a7d2d4e998a","name":"Local","info":"","x":130,"y":60,"wires":[]},{"id":"cfe384d4ce5e8522","type":"function","z":"08ac5a7d2d4e998a","name":"JSON publico","func":"msg.payload = '{\"id\":\"Karen Luna, Morelos\",\"temp\":' + global.get(\"tempAPI\")+',\"hum\":' + global.get (\"humAPI\") +'}';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":500,"wires":[["f16752d06ce3915e"]]},{"id":"983adc3f808913a6","type":"comment","z":"08ac5a7d2d4e998a","name":"Enviador","info":"","x":140,"y":460,"wires":[]},{"id":"7e561cd336b04268","type":"inject","z":"08ac5a7d2d4e998a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":500,"wires":[["cfe384d4ce5e8522"]]},{"id":"f16752d06ce3915e","type":"mqtt out","z":"08ac5a7d2d4e998a","name":"","topic":"codigoIoT/mqtt/climaAPI","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f1868b0174764182","x":710,"y":500,"wires":[]},{"id":"8eb1b0652f7c3c85","type":"comment","z":"08ac5a7d2d4e998a","name":"Escuchador","info":"","x":150,"y":560,"wires":[]},{"id":"9941eb64085a0d83","type":"mqtt in","z":"08ac5a7d2d4e998a","name":"","topic":"codigoIoT/mqtt/climaAPI","qos":"2","datatype":"utf8","broker":"f1868b0174764182","nl":false,"rap":true,"rh":0,"inputs":0,"x":190,"y":600,"wires":[["dd6581402b573830"]]},{"id":"dd6581402b573830","type":"json","z":"08ac5a7d2d4e998a","name":"","property":"payload","action":"obj","pretty":false,"x":410,"y":600,"wires":[["4040f600cea2db7b","866079a6b88b24e7","f710fa694ef2f090"]]},{"id":"4040f600cea2db7b","type":"function","z":"08ac5a7d2d4e998a","name":"Temperatura Publica API","func":"msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":600,"wires":[["6a31b050f28f12dc"]]},{"id":"866079a6b88b24e7","type":"function","z":"08ac5a7d2d4e998a","name":"Humedad Publica API","func":"msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":660,"wires":[["df829ee434d9b021"]]},{"id":"6a31b050f28f12dc","type":"ui_chart","z":"08ac5a7d2d4e998a","name":"","group":"8b45fd2a374b39e3","order":1,"width":8,"height":8,"label":"Temperatura Publica","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#e01b24","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":980,"y":600,"wires":[[]]},{"id":"df829ee434d9b021","type":"ui_chart","z":"08ac5a7d2d4e998a","name":"","group":"8b45fd2a374b39e3","order":2,"width":8,"height":8,"label":"Humedad publica","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":970,"y":660,"wires":[[]]},{"id":"f710fa694ef2f090","type":"function","z":"08ac5a7d2d4e998a","name":"Query","func":"msg.topic = \"INSERT INTO clima (nombre,temperatura,humedad) VALUES ('\" + msg.payload.id +\"',\" + msg.payload.temp + \",\" + msg.payload.hum + \");\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":720,"wires":[["b1d5d4273e62ad63"]]},{"id":"b1d5d4273e62ad63","type":"mysql","z":"08ac5a7d2d4e998a","mydb":"30c15c85f5d3822c","name":"","x":930,"y":720,"wires":[[]]},{"id":"1cf4394e3811019a","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"abf8717f2990c6ea","type":"ui_group","name":"Local","tab":"d383a881e1cc9dd4","order":1,"disp":true,"width":16,"collapse":false,"className":""},{"id":"f1868b0174764182","type":"mqtt-broker","name":"Broker Público","broker":"3.64.154.127","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"8b45fd2a374b39e3","type":"ui_group","name":"Colaborativo","tab":"d383a881e1cc9dd4","order":2,"disp":true,"width":16,"collapse":false,"className":""},{"id":"30c15c85f5d3822c","type":"MySQLdatabase","name":"","host":"mysql","port":"3306","db":"Datos","tz":"-06:00","charset":"UTF8"},{"id":"d383a881e1cc9dd4","type":"ui_tab","name":"Clima API MySQL Colaborativo","icon":"dashboard","order":4,"disabled":false,"hidden":false}]